@using Processing;
@using System.Globalization;

@page "/"

<Divider DividerType="DividerType.Dotted" Text="Timeline Data"></Divider>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is1">Current Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @bind-Text="@FieldAgeCurrent" />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">StopWork Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @bind-Text="@FieldAgeStopWork" />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">RentStart Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">End Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit />
    </FieldBody>
</Field>

<Divider DividerType="DividerType.Dotted" Text="Initial Assets"></Divider>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is1">Cash:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" MaskType="MaskType.RegEx" EditMask="^[0-9]+$" @bind-Text="@FieldCash"/>
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">Cash Interest Rate (%):</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" @bind-Text="@FieldCashGrowthRate"/>
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">Monthly Cash Save Amount:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" @bind-Text="@FieldCashSaveAmount"/>
    </FieldBody>
</Field>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is1">Stocks:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" MaskType="MaskType.RegEx" EditMask="^[0-9]+$" @bind-Text="@FieldStocks" />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">Stocks Growth Rate (%):</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" @bind-Text="@FieldStocksGrowthRate" />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">Monthly Stocks Save Amount:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" @bind-Text="@FieldStocksSaveAmount" />
    </FieldBody>
</Field>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is1">Metals:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" MaskType="MaskType.RegEx" EditMask="^[0-9]+$" @bind-Text="@FieldMetals" />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">Metals Growth Rate (%):</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" @bind-Text="@FieldMetalsGrowthRate" />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">Monthly Metals Save Amount:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit @onkeypress="@(async () => await HandleRedraw())" @bind-Text="@FieldMetalsSaveAmount" />
    </FieldBody>
</Field>

<Divider DividerType="DividerType.Dotted" Text="Rent Approximations"></Divider>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is1">Gross State Rent (-> arbeiten bis renteneintrittsalter):</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">StopWork Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">RentStart Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit />
    </FieldBody>
    <FieldLabel ColumnSize="ColumnSize.Is1">End Age:</FieldLabel>
    <FieldBody ColumnSize="ColumnSize.Is1">
        <TextEdit />
    </FieldBody>
</Field>

<Divider DividerType="DividerType.Dotted"></Divider>

<Button Clicked="@(async () => await HandleRedraw())">Redraw</Button>
<Button Clicked="@(async () => await LoaderDefault())">LoadDefault</Button>

<Row>
    <Column ColumnSize="ColumnSize.Is4">
        <LineChart @ref="lineChart" TItem="double" />
    </Column>
    <Column ColumnSize="ColumnSize.Is4">
        <BarChart @ref="barChart" TItem="double" OptionsObject="@dataBarChartOptions"/>
    </Column>
</Row>





<DataGrid TItem="RentSimResultRow"
          Data="@resultRows"
          ReadData="@OnReadData"
          TotalItems="@totalRows">
    <DataGridCommandColumn TItem="RentSimResultRow" />
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.age)" Caption="Age" />

    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearBegin)" Caption="stocksYearBegin" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearBegin)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.invests)" Caption="stocksInvests" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.invests)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.growth)" Caption="stocksGrowth" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.growth)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearEnd)" Caption="stocksYearEnd" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearEnd)) </DisplayTemplate>
    </DataGridColumn>

    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearBegin)" Caption="stocksYearBegin" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearBegin)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.invests)" Caption="stocksInvests" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.invests)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.growth)" Caption="stocksGrowth" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.growth)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearEnd)" Caption="stocksYearEnd" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearEnd)) </DisplayTemplate>
    </DataGridColumn>

    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearBegin)" Caption="stocksYearBegin" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearBegin)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.invests)" Caption="stocksInvests" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.invests)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.growth)" Caption="stocksGrowth" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.growth)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearEnd)" Caption="stocksYearEnd" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearEnd)) </DisplayTemplate>
    </DataGridColumn>

    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearBegin)" Caption="stocksYearBegin" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearBegin)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.invests)" Caption="stocksInvests" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.invests)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.growth)" Caption="stocksGrowth" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.growth)) </DisplayTemplate>
    </DataGridColumn>
    <DataGridColumn TItem="RentSimResultRow" Field="@nameof(RentSimResultRow.stocks.yearEnd)" Caption="stocksYearEnd" Sortable="false" TextAlignment=TextAlignment.Right>
        <DisplayTemplate> @(BeautifyToCurrency((context as RentSimResultRow)?.stocks.yearEnd)) </DisplayTemplate>
    </DataGridColumn>

</DataGrid>

@code
{
    int totalRows;

    async Task OnReadData(DataGridReadDataEventArgs<RentSimResultRow> e)
    {
        totalRows = resultRows.Count; // this is used to tell datagrid how many items are available so that pagination will work

        // always call StateHasChanged!
        StateHasChanged();

        await Task.Delay(0);
    }
}


@functions {

    async Task LoaderDefault()
    {
        FieldAgeCurrent = "41";
        FieldAgeStopWork = "60";

        FieldStocks = "60000";
        FieldStocksGrowthRate = "7";
        FieldStocksSaveAmount = "700";

        FieldCash = "60000";
        FieldCashGrowthRate = "0";
        FieldCashSaveAmount = "350";

        FieldMetals = "20000";
        FieldMetalsGrowthRate = "1";
        FieldMetalsSaveAmount = "0";

        await Task.Delay(0);
    }

    public string BeautifyToCurrency(double? num)
    {
        return string.Format(CultureInfo.CreateSpecificCulture("de-DE"), "{0,12:C2}", num);
    }
}

@code{
    LineChart<double> lineChart;
    BarChart<double> barChart;
    BarChartOptions dataBarChartOptions;
    ResultSet rSet;
    List<RentSimResultRow> resultRows = new List<RentSimResultRow>();

    //string FieldRefCash;

    string FieldAgeCurrent;
    string FieldAgeStopWork;

    string FieldStocks;
    string FieldStocksGrowthRate;
    string FieldStocksSaveAmount;

    string FieldCash;
    string FieldCashGrowthRate;
    string FieldCashSaveAmount;

    string FieldMetals;
    string FieldMetalsGrowthRate;
    string FieldMetalsSaveAmount;

    async Task HandleRedraw()
    {
        //Labels.SetValue(fieldRefCash, 0);
        //StateContainer.Property = "1236";

        Input input = new Input();
        input.ageCurrent = Int32.Parse(FieldAgeCurrent);
        input.ageStopWork = Int32.Parse(FieldAgeStopWork);

        input.stocks = Int32.Parse(FieldStocks);
        input.stocksGrowthRate = Int32.Parse(FieldStocksGrowthRate);
        input.stocksMonthlyInvestAmount = Int32.Parse(FieldStocksSaveAmount);

        input.cash = Int32.Parse(FieldCash);
        input.cashGrowthRate = Int32.Parse(FieldCashGrowthRate);
        input.cashMonthlyInvestAmount = Int32.Parse(FieldCashSaveAmount);

        input.metals = Int32.Parse(FieldMetals);
        input.metalsGrowthRate = Int32.Parse(FieldMetalsGrowthRate);
        input.metalsMonthlyInvestAmount = Int32.Parse(FieldMetalsSaveAmount);

        rSet = new ResultSet(input);
        resultRows = rSet.ProcessAssets();//.OrderByDescending(x => x.age).ToList();

        //todo: add end amount of last result row to show it in chart

        string[] labels = Enumerable.Range(input.ageCurrent, input.ageStopWork - input.ageCurrent + 1)
            .ToArray()
            .Select(x => x.ToString())
            .ToArray(); ;

        LineChartDataset<double> data = new LineChartDataset<double>
        {
            BackgroundColor = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f) },
            Label = "Blubb",
            BorderColor = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f) },
            Fill = true,
            PointRadius = 2,
            BorderDash = new List<int> { },
            Data = resultRows.Select(x => x.stocks.yearBegin).ToList(),
        };

        BarChartDataset<double> dataBarChart = new BarChartDataset<double>
        {
            BackgroundColor = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f) },
            Label = "Blubb",
            BorderColor = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f) },
            Data = resultRows.Select(x => x.stocks.yearBegin).ToList(),
        };

        dataBarChartOptions = new BarChartOptions()
        {
            Scales = new Scales {
                XAxes = new List<Axis> { new Axis { Stacked = true, Display = false} },
                YAxes = new List<Axis> { new Axis { Stacked = true, Display = false} },
            },
        };

        await lineChart.Clear();
        await lineChart.AddLabelsDatasetsAndUpdate(labels, data);

        await barChart.Clear();
        await barChart.AddLabelsDatasetsAndUpdate(labels, dataBarChart, dataBarChart);

    }
}